/* write your override styles here */


#wall .tag-1 {
  background: none;
  display:none;
}

#tag-2 {
  background: none;
}


#wall .slick wicked {
  background: none;
}

/*#wall #tag-3.slick {*/
/*  background: none;*/
/*}*/