/* write your override styles here */


#wall .tag-1 {
  background: none;
  display:none;
}

div#wall #tag-2 {
  background: none;
  display: none;
}

div#wall div#tag-3.slick {
  background: none;
  display: none;
}

div#wall #tag-4{
  background: none;
  display: none;
}

div#wall .parent {
  display: none;
}